.DS_Store
.AppleDouble
.LSOverride

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Node (if any)
node_modules/

# Images/outputs you don’t want tracked (optional)
*.mp4
*.mov
*.wav

# Ignore local backups / iCloud noise
*Archive*/
git_parent_backup_*/
mirrors_exec/
.DS_Store
anaconda_projects/
_OLD_DO_NOT_USE/

# editor backups
*.save
*~
.DS_Store

# editor backups
*.save
*~
.DS_Store
